* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #7B6D8D;
  --primary-dark:#593F62;
  --dark: #0d1b2a;
  --dark-brown: #493B2A;
  --light: #ffffff;
  --light-floral: #FFFCF2;
  --accent: #A5C4D4;
  --purple: #593F62;

  --primary-opacity:rgba(123, 109, 141, 0.15);
  --floral-opacity: rgba(255, 252, 242, 0.5);
  --light-opacity: rgba(255, 255, 255, 0.3);

  --sans: "PT Serif", serif;
  --heading: "Inter", sans-serif;
  --logo: "Italiana", serif; 
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--dark);
  background: var(--light-floral);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* dark mode
@media (prefers-color-scheme: dark) {
  :root {
    color: var(--primary);
    background: var(--dark);
  }
} */

#root {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  font-family: var(--heading);
}

h1 {
  font-weight: 500;
  font-size: 70px;
  margin: 32px 0;
}

h2 {
  font-weight: 800;
  font-size: 24px;
}

h3{
  font-weight: 500;
  font-size: 18px;
}

p {
  font-family: var(--sans);
  font-size: 16px;
}

a{
  text-decoration: none;
  color:inherit;
}

body{
  font-family: var(--sans);
}

button{
  width: 100%;
  padding: 0.5rem;
  background: var(--primary);
  color: var(--light-floral);
  border: none;
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
  margin: 0.5rem;
  font-size: 16px;
}

button:hover{
  transform: scale(1.02);
}

img{
  max-width: 100%;
  display: block;
  margin: 0.5rem;
}

/* tablet */
@media (max-width: 1024px){
  .product-grid{
    grid-template-columns: repeat(2, 1fr);
  }
  h1{
    font-size: 36px;
    margin: 20px 0;
  }

  h2{
    font-size: 20px;
  }
}

/* mobile */
@media (max-width: 768px){
  .product-grid {
    grid-template-columns: 1fr;
  }
}