.login-container{
    height: 70vh;
    background: var(--primary-opacity);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    margin: 90px;

    color: var(--dark-brown);
}

.login-input{
    background-color: var(--light-opacity);
    margin: 15px;
    padding: 10px;
}