.shop-page {
  background: var(--light-floral);
  padding: 2rem;
  color: var(--dark-brown);
}

.shop-header h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.shop-header p {
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.shop-container {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  margin-top: 2rem;
}

.filter-sidebar {
  width: 220px;
  background: var(--primary-opacity);
  padding: 2rem;
  border-radius: 10px;
  text-align: left;
}

.filter-section {
  margin-top: 2rem;
}

.price-range {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  width: 100%;
}

.shop-icon-btn {
  position: absolute;
  top: 40px;
  right: 30px;
  color: var(--light-floral);
  cursor: pointer;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.shop-product-image{
  position: relative;
}

.shop-color-options{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  padding: 10px;
  gap: 0.5rem;

  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: var(--light-opacity);
}

.shop-product-image:hover .shop-color-options {
  opacity: 1;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}

.filter-color{
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.black {
  background: var(--dark);
}

.brown {
  background: var(--dark-brown);
}

.blue {
  background: var(--accent);
}

.purple {
  background: var(--purple);
}

