.navbar{
    height: 80px;
    background-color: var(--primary);
    color: var(--light-floral);
    text-decoration: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 20px 40px;
    position: relative;
}

.nav-links {
    font-family: var(--heading);
    font-size: large;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.nav-logo{
    font-family: var(--logo);
    font-size: 36px;
}

.nav-icons {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    font-size: 1.3rem;
    cursor: pointer;
}

.nav-logo a,
.nav-links a,
.nav-icons a{
    text-decoration: none;
    color:var(--light-floral);
}

.nav-links a:hover{
    color: var(--accent);
    opacity: 0.6;
}

.nav-icon:hover{
    color: var(--accent);
    opacity: 0.6;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.mobile-menu {
  position: absolute;
  top: 100%;
  right: 1rem;
  background: var(--primary);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: var(--primary-opacity);
  z-index: 100;
}

.mobile-icons {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .nav-links,
  .nav-icons {
    display: none;
  }

  .menu-btn {
    display: flex;
  }
}